<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497931304062-62eipt2c5ov8vtsjrskcdgpg94njs4ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497931304062-62eipt2c5ov8vtsjrskcdgpg94njs4ft</string>
	<key>API_KEY</key>
	<string>AIzaSyBfPOsj6Zdc3LiSrxd_eH2z3LnQx_bMagA</string>
	<key>GCM_SENDER_ID</key>
	<string>497931304062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdwr.share1car</string>
	<key>PROJECT_ID</key>
	<string>s1c-test</string>
	<key>STORAGE_BUCKET</key>
	<string>s1c-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497931304062:ios:fa984a50d8ca1b0a616c2f</string>
	<key>DATABASE_URL</key>
	<string>https://s1c-test.firebaseio.com</string>
</dict>
</plist>