<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680513897792-aovp324gfsdic8hvqtflnn4p8unq08j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680513897792-aovp324gfsdic8hvqtflnn4p8unq08j6</string>
	<key>API_KEY</key>
	<string>AIzaSyCnirB1pK87ft2xv43i4Ifom381cQdczGM</string>
	<key>GCM_SENDER_ID</key>
	<string>680513897792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdwr.share1car</string>
	<key>PROJECT_ID</key>
	<string>ios-test-163ec</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-test-163ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680513897792:ios:37e7d0c62ed7e318dea6a5</string>
	<key>DATABASE_URL</key>
	<string>https://ios-test-163ec.firebaseio.com</string>
</dict>
</plist>